<br>
<div class="jumbotron">
	<h1>Bloccipedia</h1>
	<p>Create! Read! Learn!</p>
	<p>
		<%= link_to "Sign Up", class: 'btn btn-primary' %> today!
	</p>
</div>

<div class="row index-info">
	<div class="col-md-6">
		<h2>Go to Articles</h2>
		<p>Bloccit will deliver food and water to those in need, all over the world.</p>
	</div>
	<div class="col-md-6">
		<h2>Get a Premium Account</h2>
		<p>Sign up for a premium account. Contribute to the knowledge!</p>
	</div>
</div>
