<br>
<div class="jumbotron">
	<h1>Bloccipedia</h1>
	<p>Create! Read! Learn!</p>
	<% if user_signed_in? %>
		<p> Welcome <%= current_user.email %></p>
	<% else %>
		<p> 
		<%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-sucess' %> today!
		</p>
	<% end %>
</div>

<div class="row index-info">
	<div class="col-md-6">
		<h2>Go to Articles</h2>
		<p>Articles will go here.</p>
	</div>
	<div class="col-md-6">
		<h2>Get a Premium Account</h2>
		<p>Sign up for a premium account. Contribute to the knowledge!</p>
	</div>
</div>
