<div class="container">
  <div class='row'>
    <h2>Wikis: Read and Learn!</h2>
    <hr>
    <section id='pinBoot'>
      <% @wikis.each do |wiki| %>
        <article class="white-panel"><img src="http://i.imgur.com/sDLIAZD.png" alt="">
          <h4><%=link_to "#{wiki.title}", wiki_path(wiki.id) %></h4>
          <p><%= truncate wiki.body, length: 150 %>
          <%= link_to('read more', wiki_path(wiki)) %>
          </p>
        </article>
  <% end %>
</div>
