<div class='container'>
  <div class='row'>
    <div class='col-md-6 col-md-offset-3 panel panel-default form-style'>
      <div class='panel-body'>
        <h2>Thank You for choosing the premium account</h2>
        <h4>Some of the Premium benefits:</h4>
        <ul>
          <li>Unlimited Private Wikis</li>
          <li>Collaboration with other users</li>
          <li>Mucho Karma for supporting the project</li>
        </ul>
        <hr>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
